$theme: likipe;
$image: "../images";

$logo-font: 'Bevan', cursive;
$testimonial-font: 'Lora', serif;
$title-font: "Roboto", sans-serif; 
$subTitle-font: "";
$body-font: Helvetica, Arial, sans-serif;
$iconfont: fontawesome;

$base-fontsize: 1.2rem;
$base-fontsize-lg: 1.6rem;
$lg-fontsize: 2.25em; // 36px
$md-fontsize: 1.4rem; // 14px
$sm-fontsize: 1.2rem; // 12px
$icon-lg: 3em;
$icon-sm: 1.4rem;

$base-color: #282828;
$highlight-color: #7fbc00;
$light-color: #eaf1f4;
$darken-color: #adc8d3 ;
$middle-color: #cdd9df;

$white: #fff;
$black: #000;
$light-grey: #bbbbbb;
$grey: #9f9f9f;
$grey-v2: #f7f6f2;
$dark-grey: #333333;

$header-h: 90px;
$padding-lg: 60px;
$padding-sm: 15px;

$margin-lg: 60px;
$margin-md: 60px;
$margin-sm: 60px;
$margin-xs: 30px;

$subHeader-height: 68px;

// compass default
$default-border-radius: 4px; 
$default-animation-duration: 1s;
$default-animation-timing-function: ease;

// common placeholders
// @extend %border-color;
%margin-reset { margin: 0; }
%padding-reset { padding: 0; }
%size-reset { width: 100%; height: 100%; }


%titleFont{ font-family: $title-font;}

%border-color{ border-color: $grey-v2!important; }
%color-grey{ color: $grey; }
%color-light-grey{ color: $light-grey; }
%bg-light-grey{ background-color: $grey; }
%color-hightlight{ color: $highlight-color; }
%bg-hightlight{ background-color: $highlight-color!important; }
%bg-gradient{ background: linear-gradient( 180deg, rgb(179,213,151) 0%, rgb(79,195,216) 100%);}
%bg-orange{
    background: url(#{$image}/bg-orange.jpg) no-repeat center top;
    padding: 90px 0;
}

%border-radius{ @include border-radius(30px); }
%shadow{ @include box-shadow(0 0 5px rgba(0,0,0,0.2)); }
%transition{ @include transition(all .1s ease); }

%truncate-txt{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

%sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

@include keyframes( 'fadeIn' ) {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}


