.main-footer{
    padding: 90px 0;
    .separator{
        background-color: $highlight-color;
    }
    .widget-title{
        font-size: 18px;
    }
    .unordered-list{
        li{
            &:before{
                content: "\f18e";
                font-family: $iconfont;
                color: #e1e0de;
                position: relative; left: 0; top: 0;
                margin-right: 10px;
            }
        }
    }
    
    .logo-footer{ 
       img{ margin-top: -27px; }  
       .widget-content{ margin-top: 25px; }
    }
    .widget-content{
        .fa{ width: 40px;}
    }
}
.instagram-widget{
    padding: 0;
    li{
        float: left;
        margin-right: 15px;
        margin-bottom: 15px;
    }
    .float-right{ width: 285px;}
    .widget-content{ margin-top: 20px; overflow: hidden; }
}
.sub-footer{
    position: relative;
    span{ line-height: $header-h; }
}
#back-top{
    position: absolute; left: 50%; top: -30px;
    margin-left: -13px;
    .fa{ font-size: 30px; color: #e1e0de;
        &:hover{ color: $highlight-color;}
    }
}
@include media-destop-first(sm){ 
    .main-footer{
        padding: 45px 0 15px;
        .widget{
            margin-bottom: 15px;
        }
    }
    .instagram-widget{
        .float-right{ width: 100%; padding: 0 15px; }
        li{ width: 16.66%; margin-right: 0;}
        img{ width: 100%; }
    } 
};
@include media-only(md){ 
    .instagram-widget{
        .float-right{ width: 100%; padding: 0 15px; }
    }
}