.logo-wrapper{
    line-height: $header-h;
    display: inline-block;
    &.pos-left{
        float: left;
    }
    img{
        height: 55px;
        width: auto;
        @extend %inline-middle;
    }
}

%inline-middle{
    display: inline-block;
    vertical-align: middle;
}
.menu-wrapper{
    &.pos-right{
        float: right;
    }
    .shopping-cart-holder{
        position: relative;
        @extend %inline-middle;
        margin-right: 15px;
        .cart-icon-wrapper{
            position: relative;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }
        .cart-number{
            position: absolute; top: -10px; right: -10px; 
            background-color: $highlight-color;
            color: $white;
            text-align: center;
            border-radius: 100%;
            height: 24px;
            min-width: 24px;
            line-height: 20px;
            font-size: 12px;
            font-weight: 500;
            border: 2px solid $white;
        }
        .cart-total{font-weight: 500;}
        .shopping-cart-dropdown{
            position: absolute; top: 100%; right: 0;
            z-index: 99;
            width: 300px;
            margin-top: 25px;
            padding: 15px;
            max-height: 0;
            opacity: 0;
            transition: max-height 1.5s ease-out,opacity .1s ease-out;
            background-color: $white;
            border: 1px solid $grey;
        }
        &:hover{
            .shopping-cart-dropdown{
                max-height: 500px;
                opacity: 1; 
            }
        }
    }
    .side-menu-btn, .menu-icon{
        @extend %inline-middle;
    }
}
.organic-nav {
    @include media(sm){
        display: inline-block;
        vertical-align: middle;
    }
    ul{
        list-style: none;
        padding: 0;
        li{ position: relative; }
    }
    > ul{
        > li{
            float: left;
            // &.active a, &:hover a{
            //     position: relative;
            //     &:before{
            //         @include opacity(1);
            //     }
            // }
            > a{
                position: relative;
                padding: 0 15px;
                font-size: 15px; line-height: $header-h;
                font-weight: 500;
                color: $dark-grey;
                text-transform: uppercase;
                &:before{
                    content: "";
                    @include opacity(0);
                    position: absolute; top: 100%; left: 50%;
                    width: 6px; height: 6px;
                    margin-top: 5px; margin-left: -3px;
                    border-radius: 100%;
                    background-color: $highlight-color;
                }
                &.active, &:hover {
                
                    &:before{
                        @include opacity(1);
                    }
                }
            }
        }
    }
}
.nav-pills .nav-link{ display: inline!important}
.nav-pills .nav-link.active{
    color: $dark-grey!important; 
    background: transparent!important;
}
.side-menu-btn{
    &:before, &:after{
        content: "";
        width: 28px;
        height: 2px;
        background-color: #222a2c;
    }
    &:before{
        transform: rotateZ(45deg) translateY(2px);
    }
    &:after{
        transform: rotateZ(-45deg) translateY(-2px);
    }
}

@include media(sm){ 
    .header-section{
        // position: sticky; position: -webkit-sticky;
        position: fixed; top: 0; left: 0; right: 0;
        z-index: 99;
        &.sticky{
            background: rgba(255, 255, 255, .9);
            @include box-shadow(0px 2px 5px rgba(0, 0, 0, .1));
        }
    }
    .menu-wrapper .shopping-cart-holder {
        position: relative;
        margin-left: 30px; margin-right: 45px;
    }
    .header-section {
        .organic-nav>ul>li{
            opacity: 0;
            visibility: hidden;
            transform: translateX(10px);
            transition: all 0.3s ease;
        }
    }
    .menu-activated{
        .organic-nav>ul>li{
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
        }
        .side-menu-btn{
            img{ display: none; }
            &:before, &:after{ display: block }
        }
    }
};
@include media-destop-first(sm) {
    .header-section.fixed-top{
        position: relative;
    }
    .menu-wrapper.pos-right{
        margin-top: 30px;
    }
    .nav-mainHeader{
        position: absolute;  right: 0; top: 100%; z-index: 9;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        >ul>li{
            float: none;
            display: block;
            a{ color: $white; line-height: 40px;
                &:before{ display: none;}
            }
        }
    }
    .nav{ display: block; }
    .nav-pills .nav-link.active{ color: $highlight-color!important;}
}

@include media-only(md){
    .menu-wrapper .shopping-cart-holder{
        margin-left: 15px;
        margin-right: 15px;
    }
    .organic-nav>ul>li>a{
        padding: 0 8px;
    }
}