//- extends layout to your side
extends layout/layout

block var
  - subPage = "index";
  - title = "Home page";
block content

  // Start hero-section
  section.hero-section.full-screen#home
    .slider-progressbar
    .owl-carousel.has-caption
      +fullwith-casousel("slider-xs.jpg", "slider.jpg", "Free Download <strong>Healthy PSD</strong>", "ORGANIC FRUITS, VEGETABLES, AND LOT MORE TO YOUR DOOR")
      +fullwith-casousel("slider-xs.jpg", "slider.jpg", "Free Download <strong>Healthy PSD</strong>", "ORGANIC FRUITS, VEGETABLES, AND LOT MORE TO YOUR DOOR")

    .copyright.d-none.d-md-block.has-horizontal-line ©naturix farmfood. <strong>organic 100% guarantee</strong>
    +social-icon(['facebook', 'twitter', 'google-plus', 'linkedin', 'instagram']).has-vertical-line.d-none.d-md-block
  // End hero-section

  
  // Start overview-section
  section.overview-section#about-us
    .container-fluid
      .filter-wrapper
        a(href="#").btn-outline.is-active organic <strong>fruits</strong>
        a(href="#").btn-outline organic <strong>vegetables</strong>
        .img-holder.d-none.d-md-inline-block
          img(src="images/bg-01.jpg", alt="").img-fluid
        a(href="#").btn-outline organic <strong>juices</strong>
        a(href="#").btn-outline organic <strong>dried juices</strong>

      .product-wrapper
        .owl-carousel.has-dataAttr-setting(data-items="[2, 4, 6]")
          +productItem("organic <strong>baby corn</strong>", "pro-01.jpg", "$60.00")
          +productItem("organic <strong>tomato</strong>", "pro-02.jpg", "$50.00")
          +productItem("organic <strong>cabbage</strong>", "pro-03.jpg", "$50.00", "isDiscount", "").is-hover
          +productItem("organic <strong>ginger</strong>", "pro-04.jpg", "$35.00", "", "isOnSale")
          +productItem("organic <strong>pineapple</strong>", "pro-05.jpg", "$50.00")
          +productItem("organic <strong>rasberry</strong>", "pro-06.jpg", "$160.00")

          +productItem("organic <strong>pineapple</strong>", "pro-05.jpg", "$50.00")
  
  // End overview-section

  // Start feature-section
  section.feature-section.light-bg#contact-us
    .content-inner
      .container
        .title-wrapper.text-center
          h3.main-title
            | we are 
            img(src="images/svg/organic.svg", alt="organic").organic
            strong  farmfood
          .sub-title.has-lines-through
            p ABOUT NATURIX FARMFOOD
        .content-wrapper
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio magnam, quibusdam beatae dolorem. Asperiores consectetur, excepturi atque facere. Consequuntur exercitationem praesentium hic similique debitis voluptatibus possimus dolore officiis. Sit fuga perspiciatis nobis consectetur hic in.
        .feature-wrapper.clearfix
          +feature-item("icon-01.png", "fresh from <strong>naturix farm</strong>", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, animi.")
          +feature-item("icon-02.png", "100% <strong>organic goods</strong>", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, animi.")
          +feature-item("icon-03.png", "premium <strong>quality</strong>", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, animi.")
          +feature-item("icon-04.png", "100% <strong>natural</strong>", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, animi.")
          .illustration-holder
            img(src="images/bg-02.png", alt="").img-fluid
            
  // End feature-section

  // Start product-section
  section.product-section#shop
    .container
      .row.intro-block.img-left
        .col-lg-6
          .row
            +category-item("organic <strong>fruits</strong>", "23 items").icon-fruits
            +category-item("fresh <strong>vegetables</strong>", "23 items").icon-vegetables
            +category-item("organic <strong>breads</strong>", "23 items").icon-breads
        .col-lg-6.des-wrapper
          .title-wrapper
            .sub-title.pos-top
              p FRESH FROM OUR FARM
            h3.main-title 220+ <strong>fruits, vegetables</strong> & <strong>lot more</strong>
          .content-wrapper
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio magnam, quibusdam beatae dolorem. Asperiores consectetur, excepturi atque facere. Consequuntur exercitationem praesentium hic similique debitis voluptatibus possimus dolore officiis. Sit fuga perspiciatis nobis consectetur hic in.
      .row.intro-block
        .col-lg-6.des-wrapper
          .title-wrapper
            .sub-title.pos-top
              p FRESH FROM OUR FARM
            h3.main-title 115+ <strong>organic juices</strong> and <strong>organic tea</strong>
          .content-wrapper
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio magnam, quibusdam beatae dolorem. Asperiores consectetur, excepturi atque facere. Consequuntur exercitationem praesentium hic similique debitis voluptatibus possimus dolore officiis. Sit fuga perspiciatis nobis consectetur hic in.

        .col-lg-6.order-first.order-lg-2
          .row
            +category-item("organic <strong>juices</strong>", "23 items").icon-juices
            +category-item("dried <strong>juices</strong>", "23 items").icon-dried-juices
            +category-item("organic <strong>tea</strong>", "23 items").icon-tea

    .container
      .title-wrapper.text-center.style2
        .sub-title.pos-top
          p FRESH FROM OUR FARM
        h3.main-title: span
          | naturix 
          img(src="images/svg/organic.svg", alt="organic").organic
          strong  goods
      .filter-wrapper
        mixin filterItem(arr)
          each item, index in arr 
            if (index == 0)
              a(href="#").btn-outline.is-active!= item
            else
              a(href="#").btn-outline!= item
        +filterItem(["all <strong>goods</strong>", "organic <strong>vegetables</strong>", "organic <strong>fruits</strong>", "organic <strong>tea</strong>", "organic <strong>breads</strong>", "organic <strong>juices</strong>"])

    .product-wrapper
      .product-carousel.owl-carousel(data-group="2", data-items="[2, 4, 4]", data-class="col-lg-3 col-md-3", data-fullwith="true")
        +productItem("organic <strong>cabbage</strong>", "pro-03.jpg", "$50.00", "isDiscount", "")
        +productItem("organic <strong>baby corn</strong>", "pro-01.jpg", "$60.00")
        +productItem("organic <strong>tomato</strong>", "pro-02.jpg", "$50.00")
        +productItem("organic <strong>ginger</strong>", "pro-04.jpg", "$35.00", "", "isOnSale")
        +productItem("organic <strong>pineapple</strong>", "pro-05.jpg", "$50.00")
        +productItem("organic <strong>rasberry</strong>", "pro-06.jpg", "$160.00")
        +productItem("organic <strong>vegetables</strong>", "pro-07.jpg", "$90.00", "isDiscount", "")
        +productItem("organic <strong>baby corn</strong>", "pro-08.jpg", "$60.00")

        +productItem("organic <strong>tomato</strong>", "pro-02.jpg", "$50.00")
        +productItem("organic <strong>cabbage</strong>", "pro-03.jpg", "$50.00", "isDiscount", "")
        +productItem("organic <strong>ginger</strong>", "pro-04.jpg", "$35.00", "", "isOnSale")
        +productItem("organic <strong>pineapple</strong>", "pro-05.jpg", "$50.00")
        +productItem("organic <strong>rasberry</strong>", "pro-06.jpg", "$160.00")
        +productItem("organic <strong>vegetables</strong>", "pro-07.jpg", "$90.00", "isDiscount", "")
        +productItem("organic <strong>baby corn</strong>", "pro-01.jpg", "$60.00")
        +productItem("organic <strong>tomato</strong>", "pro-02.jpg", "$50.00")

        +productItem("organic <strong>cabbage</strong>", "pro-03.jpg", "$50.00", "isDiscount", "")
        +productItem("organic <strong>ginger</strong>", "pro-04.jpg", "$35.00", "", "isOnSale")       
        +productItem("organic <strong>pineapple</strong>", "pro-05.jpg", "$50.00")
      button.btn-outline-style1.d-block.d-md-none Show more <i class="fa fa-long-arrow-right"></i>
  // End product-section

  // Start discount-section
  section.discount-section.light-bg.has-bottom-bg
    .container
      .main-discount
        .title-wrapper
          .sub-title.pos-top
            p NATURIX DEAL OF THE DAY
          h3.main-title organic goods <strong>50%</strong> off
        .img-holder
          img(src="images/bg-03.jpg", alt="")
        .content-wrapper
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio magnam, quibusdam beatae dolorem. Asperiores consectetur, excepturi atque facere. Consequuntur exercitationem  
      
      .row
        #count-down(data-year="2018", data-month="3", data-day="12", data-hour="12", data-minute="0")
        .discount-slider-wrapper
          .owl-carousel.has-dataAttr-setting(data-items="[1, 1, 2]")
            +discountItem("organic fruits", "organic <strong>rasberry</strong>", "$50.00", "isDiscount", "isOnSale")
            +discountItem("organic fruits", "fresh <strong>pineapple</strong>", "$50.00", "isDiscount", "isOnSale")
            +discountItem("organic fruits", "organic <strong>vegetables</strong>", "$50.00", "isDiscount", "isOnSale")
            +discountItem("organic fruits", "organic <strong>ginger</strong>", "$50.00", "isDiscount", "isOnSale")
            +discountItem("organic fruits", "organic <strong>cabbage</strong>", "$50.00", "isDiscount", "isOnSale")

  // End discount-section


  // Start bestseller-section
  section.bestseller-section.container
    .title-wrapper.text-center
      h4 
        img(src="images/star.png", alt="")
        span a tast of <strong>real food </strong>
        img(src="images/star.png", alt="")
    .row
      .col-lg-4.col-md-4
        +titleSection("new from the farm", "organic <strong>new arrivals</strong>")
        .slider-wrapper.owl-carousel(data-group, data-items="[2, 3, 3]", data-nav="true")
          +sliderItem("organic <strong>vegetables</strong>", "$50.00", "isDiscount")
          +sliderItem("organic <strong>vegetables</strong>", "$50.00", "isDiscount")
          +sliderItem("organic <strong>vegetables</strong>", "$50.00", "isDiscount")
          +sliderItem("organic <strong>vegetables</strong>", "$50.00", "isDiscount")
      
      .col-lg-4.col-md-4
        +titleSection("best seller", "organic <strong>popuplar</strong>")
        .slider-wrapper.owl-carousel(data-group, data-items="[2, 3, 3]", data-nav="true")
          +sliderItem("organic <strong>vegetables</strong>", "$50.00", "isDiscount")
          +sliderItem("organic <strong>vegetables</strong>", "$50.00", "isDiscount")
          +sliderItem("organic <strong>vegetables</strong>", "$50.00", "isDiscount")
          +sliderItem("organic <strong>vegetables</strong>", "$50.00", "isDiscount")
          +sliderItem("organic <strong>vegetables</strong>", "$50.00", "isDiscount")

      .col-lg-4.col-md-4
        +titleSection("customer needs", "organic <strong>random</strong>")
        .slider-wrapper.owl-carousel(data-group, data-items="[2, 3, 3]", data-nav="true")
          +sliderItem("organic <strong>vegetables</strong>", "$50.00", "isDiscount")
          +sliderItem("organic <strong>vegetables</strong>", "$50.00", "isDiscount")
          +sliderItem("organic <strong>vegetables</strong>", "$50.00", "isDiscount")
          +sliderItem("organic <strong>vegetables</strong>", "$50.00", "isDiscount")

    .row
      .col-lg-6.col-md-6.col-sm-6.banner-holder
        a(href="#"): img(src="images/banner-01.jpg", alt="").img-fluid
      .col-lg-6.col-md-6.col-sm-6.banner-holder
        a(href="#"): img(src="images/banner-02.jpg", alt="").img-fluid
  // End bestseller-section

  // Start newsletter-section
  section.newsletter-section.light-bg
    .container
      .row
        .title-wrapper.col-xl-4.col-lg-5
            .sub-title.pos-top
              p JOIN OUR NEWSLETTER
            h3.main-title subscribe <strong>newsletter</strong>
        .col-xl-8.col-lg-7
          form#newsletter-frm(action="", name="").row
            .col-lg-8.col-sm-9.col-7
              input(type="text", placeholder="Enter your email address")
            .col-lg-4.col-sm-3.col-5
              button subscribe <i class="fa fa-long-arrow-right"></i>
  // End newsletter-section

  .container
    // Start testimonial-section
    section.testimonial-section
      .testimonial-slider.owl-carousel.has-dataAttr-setting(data-items="[1, 2, 2]", data-nav="true")
        +testimonialItem('“Lorem ipsum dolor sit amet, consectetuer adipiscing elitsed the diam nonummy nibh euismod tincidunt.”', "LUIS GARCHIA")
        +testimonialItem('“Lorem ipsum dolor sit amet, consectetuer adipiscing elitsed the diam nonummy nibh euismod tincidunt.”', "LUIS GARCHIA")
        +testimonialItem('“Lorem ipsum dolor sit amet, consectetuer adipiscing elitsed the diam nonummy nibh euismod tincidunt.”', "LUIS GARCHIA")
    // End testimonial-section

    // Start blog-section
    section.blog-section#blog
      .title-wrapper.text-center
        .sub-title.pos-top
          p Naturix blog
        h3.main-title naturix <strong>latest news</strong>
      .row
        +blogItem("26 JUNE 2016", "5 best foods to make you fresh & healthy", "Lorem ipsum dolor sit amet, onsectetuer adipiscing elit...") 
        +blogItem("26 JUNE 2016", "5 best foods to make you fresh & healthy", "Lorem ipsum dolor sit amet, consectetuer adipiscing, nonummy...") 
    // End blog-section

  

