td[title="Hello world!" colspan=3]
ul>li.item$$@-*5
ul>li.item$@3*5
{Click }+a{here}+{ to continue}
blockquote>p+footer
dl+ a:mail  @f+   (fontface)
table+  
a:link  
select+ 
link:favicon  
link: touch 
script:src  
form:post 
inp
input:email 
input:password  
input:file
input:reset
input:checkbox
input:radio
input:number
@kf  (keyframe)
tr+ link:css  
trf:tx (transform: translateX(x);)

a[href=#, title, target="_blank", rel="nofollow"]
a[href="tel:+01-562-867-5309" rel="nofollow"]
a.btn.outline-bn.cta-btn.text-link

#page>div.class1.class2+ul#navigation>li*5>a{Item $}

//- Some frequently used code
span.seperator

.main-wrapper
header#header-section.menu-right
	.header-meta>(nav.sub-nav>ul>li*2>a)+.phone-info>span
	.header-main.container>nav.main-nav>ul>li*2>a
section.hero-section.full-screen>.hero-wrapper>.hero-inner>h1+a.btn-scroll-down
	.title-wrapper>h3.main-title+.sub-title>p

section.blog-section.bg-light>.container>h3+.row>article.col-md-4.blog-post>a.post-thumbnail>img+.img-overlay>i.icon^^.post-content>h4.post-title+time.date-post[datetime=""]+(.post-des>p)+a.more-link
	figure.effect-hover>img.img-responsive+figcaption>h5+p

section.team-section>.team>(.avatar-wrapper>img+.team-info>.content-inner>p)+h4.team-name+p.team-position

footer.footer-section>.container>.row>.col-md-4.widget>h3.widget-title+.widget-content
	span.copyright{© Exline 2016}>a
	ul.social-links>li*5>a[target="_blank"]>i.fa.fa-facebook

a#scroll-top-link[href="#", title="Scroll to top", aria-hidden="true"]>span.sr-only{Scroll to top}

// begin product-item
.col-lg-4.col-md-6>.product-item
	a(href="#").thumbnail-wrapper>img.img-fluid[src='images/', alt='']
  .icon-list>i.sale-icon Sale!
  .entry-main
    h4.entry-title>a[href='#']
    .short-desc>p
    .price>(del>span)+(ins>span)
    .cta-btn-group
      a[href="#"].likipe-btn.detail-btn{Detail}
      a[href="#"].likipe-btn.addCart-btn{Add to cart}
// end product-item

section.feature-section>.feature-item>(.icon-wrapper>i.fa)+.feature-content>h3+(.feature-des>p)

section.slider-section.full-width>img
	.caption-container.caption-left>h2.caption-title+(.caption-content>p)+a.btn.cta-btn

//- Schema Markup

body[itemscope="itemscope" itemtype="https://schema.org/WebPage"]

header#header-section.menu-right[itemscope="itemscope" itemtype="https://schema.org/WPHeader"]
	.header-meta>(nav.sub-nav>ul>li*2>a)+.phone-info>span
	.header-main.container>nav.main-nav[itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement"]>ul>li*2>a[itemprop="url"]

.title-wrapper>h3.main-title[itemprop="headline"]+.sub-title>p

section.team-section>.team-member[itemscope="itemscope" itemtype="https://schema.org/Person"]>
	.avatar-wrapper>img[itemprop="image"]
		span[class="hidden" itemprop="url"]{http://www.behance.net/}
		a.icon-font[rel="v:url" href="http://www.behance.net/" aria-hidden="true" data-av_icon=""]
	.team-content-wrapper>h4.team-name[itemprop="name"]+.team-position[itemprop="jobTitle"]+(.content-info[itemprop="description"]>p)+span[class="hidden" itemprop="affiliation"]{Enfold Medical Demo}

[itemscope="itemscope" itemtype="https://schema.org/CreativeWork"]>[itemprop="text"]>p


footer.footer-section[itemscope="itemscope" itemtype="https://schema.org/WPFooter"]>.container>.row>.col-md-4.widget>h3.widget-title+.widget-content
	span.copyright{© Exline 2016}>a
	ul.social-links>li*5>a[target="_blank"]>i.fa.fa-facebook


section.blog-section.bg-light>.container>h3+.row>.col-md-4
	article.blog-post[itemscope="itemscope" itemtype="https://schema.org/BlogPosting" itemprop="blogPost"]>a.post-thumbnail>img+.img-overlay>i.icon^^.post-content>h4.post-title+time.date-post[itemprop="datePublished" datetime=""]+(.post-des[itemprop="text"]>p)+a.more-link

	figure.effect-hover>img.img-responsive+figcaption>h5+p


	<span class="hidden">
		<span class="av-structured-data" itemscope="itemscope" itemtype="https://schema.org/ImageObject" itemprop="image">
			<span itemprop="url">https://kriesi.at/themes/enfold-medical/files/2016/02/hospital.jpg</span>
			<span itemprop="height">641</span>
			<span itemprop="width">1000</span>
		</span>
		<span class="av-structured-data" itemprop="publisher" itemtype="https://schema.org/Organization" itemscope="itemscope">
			<span itemprop="name">Kriesi</span>
			<span itemprop="logo" itemscope="" itemtype="http://schema.org/ImageObject">
				<span itemprop="url">https://kriesi.at/themes/enfold-medical/files/2016/02/logo-2.png</span>
			</span>
		</span>
		<span class="av-structured-data" itemprop="author" itemscope="itemscope" itemtype="https://schema.org/Person">
			<span itemprop="name">Kriesi</span>
		</span>
		<span class="av-structured-data" itemprop="datePublished" datetime="2013-01-24T18:20:21+00:00">2015-02-12 18:49:48</span>
		<span class="av-structured-data" itemprop="dateModified" itemtype="https://schema.org/dateModified">2015-02-12 18:49:48</span>
		<span class="av-structured-data" itemprop="mainEntityOfPage" itemtype="https://schema.org/mainEntityOfPage">
			<span itemprop="name">Entry without preview image</span>
		</span>
	</span>