mixin footer-menu(heading, content, isInstagram) 
  .widget&attributes(attributes)
    h5.widget-title!= heading
    .separator
    .widget-content
      if (isInstagram)
        +instagram(content)
      else
        +simpleMenu(content).unordered-list

mixin simpleMenu(arr)
  ul&attributes(attributes)
    each val in arr
      li: a(href="#")= val      
mixin instagram(arr)
  ul&attributes(attributes)
    each val in arr
      li 
        a(href="#"): img(src="images/" + val , alt="") 
// Start footer-section
footer.footer-section
  .main-footer.light-bg.has-bottom-bg
    .container
      .row
        .col-12.col-sm-4.col-md-6.col-lg-4.widget.logo-footer
          .widget-title: img(src="images/logo.hi-res.png", alt="")
          ul.widget-content
            li
              i.fa.fa-map-marker
              |<strong>100 Highland Ave</strong>, California, United State
            li
              i.fa.fa-envelope
              a(href="mailto:contact@naturix.com") contact@naturix.com
            li
              i.fa.fa-phone
              a(href="www.website.com") www.website.com
        +footer-menu("naturix <strong>information</strong>", ["about our shop", "top sellers", "our blog", "new products", "secure shopping"]).col-sm-4.col-md-3.col-lg-2
        +footer-menu("my <strong>account</strong>", ["my account", "discount", "personal information", "my address", "order history"]).col-sm-4.col-md-3.col-lg-3
        //- +footer-menu("photo <strong>instagram</strong>", ["instagram-01.jpg", "instagram-02.jpg", "instagram-03.jpg", "instagram-04.jpg", "instagram-05.jpg", "instagram-06.jpg"], "isInstagram")
        .widget.col-md-12.col-lg-3.instagram-widget
          .float-right
            h5.widget-title photo <strong>instagram</strong>
            .separator
            .widget-content
              +instagram(["instagram-01.jpg", "instagram-02.jpg", "instagram-03.jpg", "instagram-04.jpg", "instagram-05.jpg", "instagram-06.jpg"])
  .sub-footer.container
    span ©2017 all right reserved
    nav.organic-nav.float-right.d-none.d-sm-inline-block
      +simpleMenu(["contact us", "term of use", "site map", "privacy policy"])
    .clearfix
    #back-top
      a(href="", title="Back to top"): i.fa.fa-arrow-circle-o-up
// End footer-section