
// Start header-section
header.header-section.fixed-top
  .container-fluid.clearfix
    a.logo-wrapper.pos-left(href="/", title="Logo Here")
      img(src="images/logo.hi-res.png", alt="Logo Here").img-fluid
    .menu-wrapper.pos-right
      nav.organic-nav.nav-mainHeader.collapse.navbar-collapse#navbarToggler
        ul.nav.nav-pills
          each val, index in ["HOME", "ABOUT US", "SHOP", "BLOG", "CONTACT US"]
            if (index === 0)
              li: a.nav-link.active(href="#" + val.replace(/\s+/g, '-').toLowerCase())= val
            else
              li: a.nav-link(href="#" + val.replace(/\s+/g, '-').toLowerCase() )= val
      .shopping-cart-holder.cart-info-disabled
        .cart-icon-wrapper
          img(src="images/cart.svg", alt="")
          i.cart-number 2
        span.cart-total $.00
        .shopping-cart-dropdown
          ul
            li.empty-cart No products in the cart.
      .menu-icon.d-inline-block.d-md-none
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarToggler", aria-controls="navbarTogglerDemo03", aria-expanded="false", aria-label="Toggle navigation")
          img(src="images/menu.svg", alt="")
      a(href="javascript:void(0)").side-menu-btn.d-none.d-md-inline-block
        img(src="images/menu.svg", alt="")
// End header-section





