.filter-wrapper{
    margin-bottom: 30px;
    text-align: center;
    .btn-outline{ margin-bottom: 10px;}
}
.filter-dropdown{
    display: block;
    margin-left: 0;
    border-radius: 10px;
}
.product-wrapper{
    
    .owl-dots{
        display: table;
        margin: 0 auto;
        overflow: hidden;
        > div{
            width: 54px; height: 8px;
            background-color: $grey-v2;
            margin: 0 1px;
            float: left;
            &:first-child{ @include border-radius(10px 0 0 10px); }
            &:last-child{ @include border-radius(0 10px 10px 0); }
        }
        .active{
            background-color: $highlight-color;
        }
    }
    .owl-stage-outer{ padding-bottom: 30px; }
    @include media(md){  
        .owl-stage-outer{ padding-bottom: 45px; }
        .owl-dots{ margin-top: 45px; }
    };
    .carousel-disabled{
        display: block;
        overflow: hidden;
        .product-item{
            width: 16.666667%;
            float: left;
        }
    }
    .lazyload-pro{
        display: block;
        padding: 0 15px;
        .col-6{
            &:nth-child(2n+1){ padding-right: 7.5px;}
            &:nth-child(2n){ padding-left: 7.5px;}
        }
    }
}
.product-item{
    position: relative;
    text-align: center;
    @include border-radius(15px);
    .entry-main{
        margin: 0 10px;
    }
    .entry-title{
        @include fluid-fontsize(1.25, 1.5);
        margin-bottom: 10px;
        strong{ font-weight: bold; }
    }
    .price{
        color: $highlight-color;
        del{ color: $grey; margin-right: 5px; }
        ins{ text-decoration: none; }
    }
    .thumbnail-wrapper{
        overflow: hidden;
        @include border-radius(15px 15px 0 0 );
    }
    .overlay-wrapper{
        position: absolute; top: 0; left: 0; z-index: 9;
        width: 100%;
        text-align: center;
        padding-top: 40px;
    }
    .product-icons{
        > span{
            width: 70px; height: 24px; line-height: 20px;
            display: inline-block;
            margin: 0 5px;
            font-size: 11px;
            color: $white;
            text-transform: uppercase; 
            border: 1px solid $white;
            @include border-radius(15px);
        }
        .new-lable{ background-color: #92d2a7;}
        .sale-lable{ background-color: #79d1d6; }
    }
    @extend %default-product;
    @extend %discount-product;
    
}
%discount-product{
    &.discount-item{
        display: table;
        width: 100%; height: 250px;
        margin-bottom: 75px;
        background: $white;
        .photo-wrapper{
            position: absolute; right: 0; top: 0;
            z-index: 9;
            width: 205px;
        } 
        .category{ 
            font-size: 10px; 
            text-transform: uppercase; 
            color: #a0a0a0;
            letter-spacing: 4px;
        }
        .entry-title{ 
            font-size: 30px; line-height: 36px;
            font-weight: 300;
            margin-bottom: 20px;
        }
        .cta-btn-group{
            display: table-cell;
            width: 60px;
            height: 100%;
            border-right: 2px solid #f7f6f2;
            a{
                display: block;
                height: 33.33%;
                color: #dedede;
                &:nth-of-type(2){
                    border-top: 2px solid #f7f6f2;
                    border-bottom: 2px solid #f7f6f2;
                }
                &:after{
                    content: "";
                    display: inline-block;
                    vertical-align: middle;
                    height: 100%;
                }
                .fa{ vertical-align: middle; }
            }
        }
        .product-icons{
            margin: 8px 0 14px;
        }
        .entry-main{
            padding: 30px 205px 0 30px;
            text-align: left;
            p{
                font-size: 14px; line-height: 24px;
                margin-bottom: 15px;
            }
        }
    }
}
%default-product{
    &.default-item{
        padding-bottom: 30px;
        .cta-btn-group{
            opacity: 0; transform: translateY(-20px);
            transition: all 0.2s ease-in;
            a{
                background-color: $white;
                color: #dedede;
                display: inline-block;
                width: 25%; max-width: 60px; height: 45px; line-height: 45px;
                &:first-child{ @include border-radius(30px 0 0 30px); }
                &:nth-child(2){border-left: 2px solid $grey-v2; border-right: 2px solid $grey-v2;}
                &:last-child{ @include border-radius(0 30px 30px 0); }
                &:hover{
                    color: $highlight-color;
                }
            } 
        }
        .product-icons{
            position: absolute; top: 54px; left: 0;
            width: 100%;
            transition: all 0.2s ease-in;
        }
        &:before{
            content: "";
            opacity: 0;
            position: absolute; top: 0; left: 0; z-index: 1;
            width: 100%; height: 100%;
            
            @include border-radius(15px);
            transition: opacity 0.2s;
        }
        &:after{
            content: "";
            opacity: 0;
            position: absolute; bottom: 0; left: 50%; z-index: 9;
            width: 60px; height: 3px;
            background-color: $highlight-color;
            transform: translate(-50%, 0);
            transition: max-width 0.5s, opacity 0.2s;
        }
        &.is-hover, &:hover{
            &:before{
                opacity: 1;
                border: 3px solid $white;
                @include box-shadow(0px 15px 40px 0px rgba(199, 199, 199, 0.41));
            }
            &:after{ opacity: 1; }
            .product-icons{ opacity: 0; transform: translateY(20px); }
            .cta-btn-group{ opacity: 1; transform: translateY(0); }
        }
    }
}