
/*-----------------------------------------
MOBILE FIRST METHOD
------------------------------------------*/

@include media(xs){ 

};
@include media(sm){ 

};
@include media(md){ 

};
@include media(lg){ 
    .container-fluid{
        padding-left: 60px;
        padding-right: 60px;
    }
    .container{
        max-width: 1170px;
    }
};

/*-----------------------------------------
DESTOP FIRST METHOD
------------------------------------------*/
@include media-destop-first(lg){ 

};
@include media-destop-first(md){ 

};
@include media-destop-first(sm){ 

};
@include media-destop-first(xs){ 

}

/*-----------------------------------------
RESTRICTED SCREEN
------------------------------------------*/
@include media-only(xs){ 

};
@include media-only(sm){ 

};
@include media-only(md){ 

};
@include media-only(lg){

}
@include media-retina(){

}
